@import '../../boot/vars'

#sidebar-workspace-topic-list
  overflow scroll

.topic-item

  .topic-container
    flexbox(flex)
    flex-justify(space-between)
    padding-top 10px
    padding-bottom 10px
    padding-right 30px
    border-bottom 1px solid lighten(#BDC3C7, 40%)

    .topic-link
      float left
      min-width 126px
      
      span.title
        font-size 15px
        line-height 19px
        font-weight bold
        margin-bottom 0px
        padding-right 20px

    &.active
      color black
      background #fff

    padding-left spacing
    position relative
    color #666

    &:hover
      background #eee
          
    .opinion-option-container
      float right    
      flexbox(flex)
      flex-direction(row)
      flex-justify(space-between)
      min-width 80px

      .opinion-option
        color white
        padding-top 5px
        padding-bottom 5px
        padding-left 5px
        padding-right 5px
        border-radius 3px
        text-decoration none
        max-height 25px

        &.yes
          background-color #a4cb53
          &:hover, &.selected
            background-color darken(#a4cb53, 40%)
          &.unselected
            background-color lighten(#a4cb53, 40%)

        &.no
          background-color #d95e59
          &:hover, &.selected
            background-color darken(#d95e59, 40%)
          &.unselected
            background-color lighten(#d95e59, 40%)
          i
            display block
            transform s("rotate(%s)", 180deg)
            -ms-transform s("rotate(%s)", 180deg) /* IE 9 */
            -webkit-transform s("rotate(%s)", 180deg)

        &.abstain
          background-color #666
          &:hover, &.selected
            background-color darken(#666666, 40%)
          &.unselected
            background-color lighten(#666666, 40%)

.gu-mirror
  border 0px
  background-color #eee

.drag-handle
  max-height 20px
  max-width 20px
  color white
  // background-color lighten(#666, 80%)
  border-radius 5px
  margin-right 10px
