.alert.alert-success
  = t('proposal-options.voted-yea') + ' '
  - if (positives)
    - var voteidx = positives.map(function (v) {return v.author}).indexOf(user.id)
    - if (platform)
      = t('proposal-options.voted-by-platform') + ' ' + platform
    = '.'