div#diagram-container
  #tree-container
  #venn-container
  .workspace-nav
    .nav-button.tree-button
      a(href='#')
        img(src='/boot/tree.svg')
    .nav-button.venn-button
      a(href='#')
        img(src='/boot/workspace.svg')
