@import './node-card/styles.styl'

.debate-room-container
  width 100%
  height 100%
  
  svg#debate-room
    width 100%
    height 100%
    cursor default
    user-select none
  
  svg:not(.active):not(.ctrl)
    cursor crosshair
  
  path.edge
    fill none
    cursor default
  
  svg:not(.active):not(.ctrl)
    path.edge
      cursor pointer
  
  path.edge.selected
    stroke-dasharray 10, 2
  
  path.edge.dragline
    pointer-events none
  
  path.edge.hidden
    stroke-width 0
    
  foreignObject
    -webkit-user-select none
    

.node-box
  -webkit-user-select none
  -moz-user-select none  
  -ms-user-select none
