.debate-room-container
  svg#debate-room
  .controls
    .control-button.center-button
      img(src='/boot/center.svg')
    .control-button.search-button
      img(src='/boot/search.svg')
      input.search-field.hide(type='text', placeholder='#{t("debate-room.search.placeholder")}', autofocus)
