#venn-diagram
  height 100%

.message-container
  flexbox(flex)
  
.tooltip-container
  flexbox(flex)
  flex-direction(column)

  .opinion
    a
      color #666
      text-decoration none

    .opinion-container
      .remove-opinion
        color red
        padding-left 5px
        &.hover
          font-weight bold
          
      flexbox(flex)
      flex-justify(space-between)
      padding 5px 5px 3px 5px
      border-bottom 1px solid darken(#eee, 20%)
      
      &.hover
        background-color darken(#eee, 20%)

      span.title
        font-size 15px
        line-height 19px
        font-weight bold
        display block
        margin-bottom 0px
        padding-right 20px

      .opinion-option
        color white
        padding-top 5px
        padding-bottom 5px
        padding-left 5px
        padding-right 5px
        border-radius 3px
        text-decoration none

        &.yes
          background-color #a4cb53

        &.abstain
          background-color #666

        &.no
          background-color #d95e59
          i
            display block
            transform s("rotate(%s)", 180deg) 
            -ms-transform s("rotate(%s)", 180deg) /* IE 9 */
            -webkit-transform s("rotate(%s)", 180deg)

.venntooltip {
  position absolute
  background #eee
  color #666
  cursor pointer
  border 3px
  border-color #000
  border-radius 5px
  z-index 10
}
