- var voted = user.logged() && !!item.voted

div.topic-item(data-id=item.id)
  div.topic-container
    img.drag-handle(src='/boot/drag.svg', style='cursor:move')
    .topic-link
      span.title= item.mediaTitle
    .opinion-option-container
      a.opinion-option.yes(href='#', data-opinion-yes)
        i.flaticon.solid.thumbs-up
      a.opinion-option.abstain(href='#', data-opinion-abstain)
        i.flaticon.solid.pause
      a.opinion-option.no(href='#', data-option-no)
        i.flaticon.solid.thumbs-up
