.opinion-option-container
  a.opinion-option.yes(href='#', data-opinion-yes)
    i.flaticon.solid.thumbs-up
  a.opinion-option.abstain(href='#', data-opinion-abstain)
    i.flaticon.solid.pause
  a.opinion-option.no(href='#', data-option-no)
    i.flaticon.solid.thumbs-up
  a.close.remove-opinion.hide= "x"