#diagram-container
  height 100%
  -webkit-user-select none
  -moz-user-select none  
  -ms-user-select none
  user-select none
  
  svg
    height 100%
    width 100%
    -webkit-user-select none
    -moz-user-select none  
    -ms-user-select none
    user-select none
    
    path
      cursor pointer
  
  .tip-container:after
    box-sizing border-box
    display inline
    font-size 20px
    width 100%
    line-height .5
    color #eee
    content "\25BC"
    position absolute
    text-align center
    -webkit-user-select none
    -moz-user-select none  
    -ms-user-select none
    user-select none

  .tip-container
    position absolute
    background-color #eee
    border-radius 5px

    .opinion-option-container
      flexbox(flex)
      flex-direction(row)
      flex-justify(space-between)
      width 80px
      margin 5px 5px 5px 5px
      
      .close
        color red

      .opinion-option
        color white
        padding-top 5px
        padding-bottom 5px
        padding-left 5px
        padding-right 5px
        border-radius 3px
        text-decoration none
        max-height 25px

        &.yes
          background-color #a4cb53
          &:hover, &.selected
            background-color darken(#a4cb53, 40%)
          &.unselected
            background-color lighten(#a4cb53, 40%)

        &.no
          background-color #d95e59
          &:hover, &.selected
            background-color darken(#d95e59, 40%)
          &.unselected
            background-color lighten(#d95e59, 40%)
          i
            display block
            transform s("rotate(%s)", 180deg)
            -ms-transform s("rotate(%s)", 180deg) /* IE 9 */
            -webkit-transform s("rotate(%s)", 180deg)

        &.abstain
          background-color #666
          &:hover, &.selected
            background-color darken(#666666, 40%)
          &.unselected
            background-color lighten(#666666, 40%)
