.argument-box
  position absolute
  flexbox(flex)
  flex-justify(center)
  flex-align(center)

  &.primary
    height 150px
    width 300px
    background-color grey
    border-radius 20px

    .argument-content
      background-color #eee
      border-radius 5px
      height 120px
      width 270px
      overflow scroll
    
  &.secondary
    height 75px
    width 150px
    background-color grey
    border-radius 10px
    
    .argument-content
      background-color #eee
      border-radius 5px
      height 60px
      width 135px
      overflow scroll

  &.tertiary
    height 40px
    width 80px
    background-color grey
    border-radius 5px
  
    .argument-content
      background-color #eee
      border-radius 5px
      height 32px
      width 72px
      overflow scroll


