@import './node-edit/styles.styl'

.node-card
  border 1px solid #bbb
  background-color #eee
  color #666
  width 266px
  border-radius 5px
  box-shadow 3px 3px #ccc
  padding 5px
    
  .avatar-container
    float left
    padding-bottom 5px
    padding-right 5px

    img.avatar
      max-height 40px
      max-width 40px
  
  .node-reply
    text-decoration none
    color #666
    padding 5px
    bottom 0
    position static

  .node-body-container
    font-size 12px
    
    .author-name
      font-weight bold
      padding-right 5px

    display block
    height 45px
    overflow hidden
    text-overflow ellipsis
    
    &.selected
      height auto
      min-height 45px
      max-height 200px
  
  .reply-options-container
    width auto
    background-color #eee
    
    .reply-options
      .option
        height 25px
        cursor pointer
        flexbox(flex)
        flex-align(center)
        flex-items(center)
        flex-direction(row)
        border-radius 5px
        
        &.chosen
          background-color darken(#eee, 10%)
                  
        .little-button
          height 15px
          width 15px
          border-radius 5px
          padding 5px
          margin 5px
          float left
        
        .reply-opt
          font-size 12px
          line-height 19px
          font-weight bold
