@import './node-edit/styles.styl'

.node-card
  border 1px solid #888
  background-color #eee
  color #666
  width 266px
  border-radius 5px
  box-shadow 3px 3px #ccc
  padding 5px
  
  &:hover
    border 1px solid #555
    box-shadow 4px 4px #999
  
  &.matches
    border 2px solid #888
    box-shadow 3px 3px #999
  
  &.selected
    border 2px solid #ADD8E6
    
  .avatar-container
    float left
    padding-bottom 5px
    padding-right 5px

    img.avatar
      height 40px
      width 40px
    
    img.tag
      height 40px
      height 40px
      padding 5px
      background-color #666
      border-radius 10px
  
  .action-container
    flexbox(flex)
    flex-direction(row)
    
    .card-icon
      text-decoration none
      color #666
      padding-right 2px
    
  .node-body-container
    font-size 12px
    display block
    height 45px
    overflow hidden
    text-overflow ellipsis
    padding-bottom 5px
    
    &.selected
      height auto
      min-height 45px
      max-height 300px
    
    .author-name
      font-weight bold
      padding-right 5px
  
  .read-more-link
    text-decoration none
    color #666

  .reply-options-container
    border-top 1px solid #bbb
    width auto
    background-color #eee
    
    .reply-options
      .option
        height 25px
        cursor pointer
        flexbox(flex)
        flex-align(center)
        flex-items(center)
        flex-direction(row)
        border-radius 5px
        
        &.chosen
          background-color darken(#eee, 10%)
                  
        .little-button
          height 15px
          width 15px
          border-radius 5px
          padding 5px
          margin 5px
          float left
        
        .reply-opt
          font-size 12px
          line-height 19px
          font-weight bold
