.node-edit
  padding-top 5px
  width 266px
  
  .node-edit-form
    padding-bottom 20px

    .node-edit-body
      width 254px
      max-width 254px
      min-height 75px
      font-size 12px
      background-color #f8f8f8
      overflow hidden

    .form-messages
      color #c0392b
      margin-left 10px

    .btn
      font-size 12px !important

    .form-submit
      background-color #333
      color #fff
      margin-right 10px

    .btn-cancel
      background-color transparent
      color #428BCA
  
.node-body-container
  
  .node-edit
    clear left
    width 200px
  
    .node-edit-body
      width 200px
      max-width 200px
      
