.new-reply
  position absolute
  max-height 25px
  max-width 25px
  border-radius 10px

.background
  opacity 0.3
  height 25px
  width 25px
  position absolute
  border-radius 10px

.plus
  max-height 25px
  max-width 25px
  