
div.platform.droppable(data-id=item.id, class=active ? 'active' : '')
  .platform-container.droppable
    span.title.droppable= item.mediaTitle
    input.active.droppable(type='checkbox', name='active')