div.platform-item.droppable(data-id=item.id)
  .platform-container.droppable
    a.platform-link(href=item.url)
      span.title.droppable= item.mediaTitle
    input.active-checkbox.droppable.checkbox(type='checkbox', name='active')
