@import '../../boot/vars'

.sidebar-platform-list
  div
    border-bottom 1px solid lighten(#BDC3C7, 40%)
    
    div.platform-container
      display flex
      justify-content space-between
      padding-top 10px
      padding-bottom 10px
      cursor pointer
      padding-right 30px

      span.title
        font-size 15px
        line-height 19px
        font-weight bold
        display block
        margin-bottom 0px
        padding-right 20px

      &.active
        color black
        background #fff
      
      &:hover
        background #eee

      padding-left spacing
      color black
      position relative
      color #666

        