@import './topic-filter/styles'
@import './topic-list/styles'
@import './platform-filter/styles'
@import './platform-list/styles'

#workspace-sidebar
  flexbox(flex)
  flex-direction(column)

.inner
  overflow scroll
