div#workspace-sidebar.hide
  .topic-filter-container(data-sidebar-topic-filter)
  .inner
    #topic-list-container(data-sidebar-topic-list)

  .platform-filter-container(data-sidebar-platform-filter)
  .inner
    #platform-list-container(data-sidebar-platform-list)