#workspace-sidebar
  @import './topic-filter/styles'
  @import './topic-list/styles'
  @import './platform-filter/styles'
  @import './platform-list/styles'
  // @import 'node_modules/dragula/dragula'
  
  height 100%
  display flex
  flex-direction column

.inner
  overflow scroll
