nav#sidebar
  .topic-filter-container(data-sidebar-topic-filter)
  .topic-list-container(data-sidebar-topic-list)
  .platform-filter-container(data-sidebar-platform-filter)
  .platform-list-container(data-sidebar-platform-list)