.sidebar-filter
  .sidebar-platform-filter-search.btn-group.btn-group-justified
    .input-group.input-group-md
      span.input-group-addon
        i.glyphicon.glyphicon-search
      input.form-control.platform-sidebar-search(type='text', placeholder='#{t("admin-platforms.list.search.placeholder")}', autofocus)
