@import './workspace-sidebar/styles'
@import './topic-sidebar/styles'
@import './platform-sidebar/styles'

#outer-container
  
  .sidebar-container
    overflow auto
  
  .sidebar-main-filter
    padding 15px 20px 15px
    border-bottom 1px solid #d7dbdd
    box-shadow 3px 3px 3px #bbb
    
    .sidebar-options-container
      flexbox(flex)
      flex-direction(row)
      
      background-color #eee
      border-radius 5px
      border 1px solid #d7dbdd
      
      .sidebar-icon
        cursor pointer
        width 34%
        height 25px
        
        flexbox(flex)
        flex-direction(row)
        
        flex-align(center)
        flex-justify(center)
  
        &.active
          background-color #e8e8e8
          border-radius 5px
          box-shadow 3px 3px 3px #bbb


        img
          height 20px
          fill white
          
      div:nth-child(2)
        border-left 1px solid #d7dbdd
        border-right 1px solid #d7dbdd
