#outer-container
  .sidebar-main-filter
    .sidebar-options-container
      each sidebar in sidebars
        .sidebar-icon(data-sidebar-name=sidebar, class= active ? 'active' : '')
          a(href='#')
            img(src=`/boot/${sidebar}.svg`)

  .sidebar-container
